/* Your app styles here */

:root {
    --f7-theme-color: #1ABAD4;
    --f7-theme-color-shade: #1597AE;
    --f7-theme-color-tint: #4DD2EA;
    --f7-theme-color-rgb: 26, 186, 212;

    --f7-navbar-bg-color: var(--f7-theme-color);
    --f7-navbar-link-color: #ffffff;
    --f7-navbar-text-color: #ffffff;

    --f7-toolbar-bg-color: var(--f7-theme-color);
    --f7-toolbar-text-color: #ffffff;
    --f7-toolbar-link-color: #ffffff;
}

.alert {
    position: relative;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    padding: 6px;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.calendar {
    z-index: 15000 !important;
}

.center {
    text-align: center;
}

.ios .list .item-header, .ios .list .item-footer,
.md .list .item-header, .md .list .item-footer {
    line-height: 2;
}

.md input, .md textarea {
    background-color: #efefef !important;
    padding: 10px;
}

.md .list .item-header {
    color: #7f7f7f !important;
}

.navbar,
.navbar a.back,
.navbar i.icon-back {
    color: #ffffff;
    /*background-color: #0D7782 !important;*/
}

.popover {
    width: 90%;
    left: 5%;
    top: 50%;
    transform: translateY(-50%)!important;
}

.popover-angle {
    display: none;
}

.button-fill {
    background-color: var(--f7-theme-color);
    color: #ffffff;
}

.navbar-icon-right {
    width: 24px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar-icon-right img {
    width: 100%;
}

.item-title.item-label {
    font-size: 16px;
}

/* COLORS */
.purple {
    background-color: #c36eb5 !important;
    color: #ffffff;
}

.yellow {
    background-color: #F2BE4C !important;
    color: #ffffff;
}

.stone {
    background-color: #6F715E !important;
    color: #ffffff;
}

.orange {
    background-color: #FF7E3A !important;
    color: #ffffff;
}

.pink {
    background-color: #FF3183 !important;
    color: #ffffff;
}