/* Your app styles here */

.alert {
    position: relative;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    padding: 6px;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.center {
    text-align: center;
}

.ios .list .item-header, .ios .list .item-footer,
.md .list .item-header, .md .list .item-footer {
    line-height: 2;
}

.md input, .md textarea {
    background-color: #efefef;
    padding: 0 5px;
}

.navbar,
.navbar a.back,
.navbar i.icon-back {
    color: #ffffff;
    /*background-color: #0D7782 !important;*/
}

.popover {
    width: 90%;
    left: 5%;
    top: 50%;
    transform: translateY(-50%)!important;
}

.popover-angle {
    display: none;
}

.button-fill {
    background-color: #1ABAD4 !important;
}

.navbar-icon-right {
    width: 24px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar-icon-right img {
    width: 100%;
}

/* COLORS */
.purple {
    background-color: #c36eb5 !important;
}

.yellow {
    background-color: #F2BE4C !important;
}

.stone {
    background-color: #6F715E !important;
}

.orange {
    background-color: #FF7E3A !important;
}

.pink {
    background-color: #FF3183 !important;
}